/* ====================== [ Start Team ] ====================== */
.team-shape .item .img {
  position: relative;
  overflow: hidden;
}

.team-shape .item .img:hover .cont {
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
}

.team-shape .item .img .cont {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 20px 30px;
  -webkit-transform: translateY(140%);
  -ms-transform: translateY(140%);
  transform: translateY(140%);
  -webkit-transition: all .4s;
  -o-transition: all .4s;
  transition: all .4s;
  z-index: 3;
}

.team-shape .item .img .cont .shape {
  position: absolute;
  top: 0;
  left: -50px;
  right: -50px;
  bottom: -50px;
  -webkit-transform: rotate(10deg);
  -ms-transform: rotate(10deg);
  transform: rotate(10deg);
  z-index: -1;
}

.team.out .item {
  padding-right: 60px;
  position: relative;
  z-index: 2;
}

.team.out .item:after {
  content: '';
  position: absolute;
  top: 0;
  left: 40px;
  bottom: 0;
  right: 0;
  background: #fff;
  background: -webkit-gradient(linear, left bottom, left top, from(#fff), to(transparent));
  background: -webkit-linear-gradient(bottom, #fff, transparent);
  background: -o-linear-gradient(bottom, #fff, transparent);
  background: linear-gradient(to top, #fff, transparent);
  -webkit-box-shadow: 0px 25px 30px rgba(0, 0, 0, 0.07);
  box-shadow: 0px 25px 30px rgba(0, 0, 0, 0.07);
  z-index: -1;
}

.team.out .item .img {
  -webkit-box-shadow: 0px 25px 30px rgba(0, 0, 0, 0.07);
  box-shadow: 0px 25px 30px rgba(0, 0, 0, 0.07);
}

.team.out .item .cont {
  padding: 30px 30px 30px 70px;
}

.team .item {
  position: relative;
}

.team .item .img {
  width: calc(100% - 40px);
  border-radius: 10px;
  overflow: hidden;
}

.team .item .cont {
  padding: 30px 20px 20px 50px;
}

.team .item .cont h6 {
  font-weight: 600;
  font-size: 16px;
  letter-spacing: 1px;
  margin-bottom: 5px;
}

.team .item .cont span {
  font-size: 13px;
}

.team .item:after {
  content: '';
  position: absolute;
  top: 30px;
  left: 30px;
  right: 0;
  bottom: 0;
  border-radius: 10px;
  -webkit-box-shadow: 20px 20px 50px 0px rgba(45, 22, 84, 0.08);
  box-shadow: 20px 20px 50px 0px rgba(45, 22, 84, 0.08);
  background: #fafafa;
  z-index: -1;
}

.team .item.no-shad:after {
  -webkit-box-shadow: none;
  box-shadow: none;
}

.team .item.one:after {
  background: #fff0ef;
}

.team .item.two:after {
  background: #efffff;
}

.team .item.three:after {
  background: #fffdef;
}

.team .item.four:after {
  background: #efffef;
}

.team-clas .img {
  position: relative;
  overflow: hidden;
}

.team-clas .img:hover .social {
  opacity: 1;
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
}

.team-clas .img .social {
  position: absolute;
  bottom: 30px;
  width: 100%;
  text-align: center;
  opacity: 0;
  -webkit-transform: translateY(50px);
  -ms-transform: translateY(50px);
  transform: translateY(50px);
  -webkit-transition: all .4s;
  -o-transition: all .4s;
  transition: all .4s;
}

.team-clas .img .social a {
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  border-radius: 50%;
  background: #fff;
  font-size: 13px;
  -webkit-transition: all .4s;
  -o-transition: all .4s;
  transition: all .4s;
}

.team-clas .img .social a:hover {
  background: #181b31;
  color: #fff;
}

/* ====================== [ End Team ] ====================== */
